.bu{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    gap: 20px;
    margin-left: 20px;
    border-color: white;
}
.bu:hover{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    gap: 20px;
    margin-left: 20px;
    background-color: aqua;
}
